@import "../../../../assets/sass/general";
//header 1
#header-1 {
	.blur-menu {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		background: rgba(255,255,255,.65);
		z-index: -1;
		opacity: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row-reverse;
		transition-duration: .5s;
		&.active {
			z-index: 2;
			opacity: 1;
		}
		& > * {
			width: 50%;
		}
		.container-logotype img {
			max-width: 80vw;
			height: auto;
			display: block;
		}
		h1 {
			color: $tcolor;
		}
		&__nawigacja-menu {
			li { 
				text-align: center;
				display: flex;
				justify-content: center;
				a {
					color: $fcolor;
					font-size: 2.5em;
					&:hover {
						color: lighten( $fcolor, 50% )
					}
				}
			}
		}
	}
	.container-w-logo {
		.logotype {
			max-height: 15vh;
		}
	}
	.open-navigation {
		display: flex;
		justify-content: flex-end;
		margin-top: 7.5%;
	}
}

.header-blur-container {
	position: absolute; 
	top: 7.5%;
	z-index: 5;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	.toggle {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	.container-navi {
		width: 85%;
		display: block;
		margin: auto;
	}
	html, body{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		font-family: 'Open Sans', sans-serif;
	}

	a{
		text-decoration: none;
	}

	p, li, a{
		font-size: 14px;
	}
}
.dropdown-menu {
	a.dropdown-item {
		font-size: 18px !important;
	} 
}
a.dropdown-item.active {
	background: transparent;
	font-weight: 600; 
}