@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
#header-1 .blur-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.65);
  z-index: -1;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  transition-duration: .5s; }
  #header-1 .blur-menu.active {
    z-index: 2;
    opacity: 1; }
  #header-1 .blur-menu > * {
    width: 50%; }
  #header-1 .blur-menu .container-logotype img {
    max-width: 80vw;
    height: auto;
    display: block; }
  #header-1 .blur-menu h1 {
    color: #565759; }
  #header-1 .blur-menu__nawigacja-menu li {
    text-align: center;
    display: flex;
    justify-content: center; }
    #header-1 .blur-menu__nawigacja-menu li a {
      color: #0D0D0D;
      font-size: 2.5em; }
      #header-1 .blur-menu__nawigacja-menu li a:hover {
        color: #8d8d8d; }
#header-1 .container-w-logo .logotype {
  max-height: 15vh; }
#header-1 .open-navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 7.5%; }

.header-blur-container {
  position: absolute;
  top: 7.5%;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: flex-end; }
  .header-blur-container .toggle {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  .header-blur-container .container-navi {
    width: 85%;
    display: block;
    margin: auto; }
  .header-blur-container html, .header-blur-container body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; }
  .header-blur-container a {
    text-decoration: none; }
  .header-blur-container p, .header-blur-container li, .header-blur-container a {
    font-size: 14px; }

.dropdown-menu a.dropdown-item {
  font-size: 18px !important; }

a.dropdown-item.active {
  background: transparent;
  font-weight: 600; }

/*# sourceMappingURL=style.css.map */
