@import "../../../../../assets/sass/general";

//button open navi
.open-navigation {
	#hamburger-10{
		transition: all 0.3s ease-in-out;
	}

	#hamburger-10.is-active{
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	#hamburger-10.is-active .line:nth-child(1){
		width: 30px
	}

	#hamburger-10.is-active .line:nth-child(2){
		width: 40px
	}
}
