@import "../../../../../assets/sass/general";

//button open navi
.open-navigation {
	#hamburger-4.is-active .line:nth-child(1),
	#hamburger-4.is-active .line:nth-child(3){
		width: 40px;
	}

	#hamburger-4.is-active .line:nth-child(1){
		-webkit-transform: translateX(10px) rotate(45deg);
		transform: translateX(10px) rotate(45deg);
	}

	#hamburger-4.is-active .line:nth-child(3){
		-webkit-transform: translateX(10px) rotate(-45deg);
		transform: translateX(10px) rotate(-45deg);
	}
}
