@import "../../../../../assets/sass/general";

//button open navi
.open-navigation {

	#hamburger-5.is-active{
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	#hamburger-5.is-active .line:nth-child(2){
		transition: none;
	}

	#hamburger-5 .line:nth-child(2){
		transition-delay: 0.3s;
	}


	#hamburger-5.is-active .line:nth-child(2){
		opacity: 0;
	}

	#hamburger-5.is-active .line:nth-child(1),
	#hamburger-5.is-active .line:nth-child(3){
		width: 35px;
		-webkit-transform-origin: right;
		transform-origin: right;
	}

	#hamburger-5.is-active .line:nth-child(1){
		-webkit-transform: translateY(15px) rotate(45deg);
		transform: translateY(15px) rotate(45deg);
	}

	#hamburger-5.is-active .line:nth-child(3){
		-webkit-transform: translateY(-15px) rotate(-45deg);
		transform: translateY(-15px) rotate(-45deg);
	}
}
