@import url('https://fonts.googleapis.com/css?family=Overlock:400,700,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=latin-ext');

@import "general";
// $ffont: 'Overlock', cursive;
// $sfont: 'PT Sans', sans-serif;
// $fcolor: #0D0D0D;
// $scolor: #A4A5A6;
// $tcolor: #565759; 
// $ocolor: #D9D9D9;
// $icolor: #F2F2F2;

//KEYFRAMES
@keyframes fadein{
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}

////////////////////////////////////
///////////    GLOBAL      ////////
//////////////////////////////////
h1, h2, h3, h4, h5, h6 {
	font-family: $ffont; 
} 
* {
	font-family: $sfont;
}
button {
	background: $icolor;
	color: $fcolor;
	border: solid 1px $icolor;
	padding: 5px 20px;
	text-transform: uppercase;
	font-weight: 600;
	transition-duration: .5s;
	box-shadow: 0px 5px 5px #000;
	&:hover {
		background: $fcolor;
		color: $icolor; 
		border: solid 1px $fcolor;
		box-shadow: 0px 0px 10px #000;
	}
}
a {
	transition-duration: .5s;
	color: $fcolor;
	&:hover {
		text-decoration: none;
		color: $scolor;
	}
}
.thumbnail img {
	max-width: 100%;
	height: auto;
}
section {
	position: relative;
	max-width: 100vw;
	margin-top: 40px;
	margin-bottom: 40px;
	&:first-child { 
		margin-top: 0px;
		margin-bottom: 40px;
	}
}

body {
	&:not(.home) {
		section {
			&:first-child { 
				margin-top: 40px;
			}
		}
	}
	@media (max-width: 576px) { 
		.only-mobile {
			display: block;
		}
		header .only-mobile {
			display: flex;
			height: 100%;
			justify-content: flex-end;
			align-items: center;
		} 
	}
	@media (max-width: 768px) {  
		.only-mobile {
			display: block;
		}
		header .only-mobile {
			display: flex;
			height: 100%;
			justify-content: flex-end;
			align-items: center; 
		} 
	}
	&.page-template-homepage-php {
		section:first-child {
			margin-top: 0px;
		}
	}

	& > .fb-page.fb_iframe_widget {
		display: none;
	}
}

////////////////////////////////////
///////////    ADDONS      ////////
//////////////////////////////////
#face-slider {
	position: fixed;
	right: -290px;
	top: 130px;
	z-index: 1000;
	transition-duration: .5s;
	&:hover {
		right: 0px;
	}
	#tab {
		cursor: pointer;
		height: 110px;
		width: 45px;
		float: left;
		img {
			width: 100%;
		}
	}
}
#face-code {
	padding: 5px;
	border: solid #0170cf 3px;
	background: #fff;
	float: left;
	width: 286px;
	height: 100px;
	-moz-border-radius: 0 0 0 8px;
	-webkit-border-radius: 0 0 0 8px;
	border-radius: 0 0 0 8px;
}
.fb-page.fb_iframe_widget {
	transform: scale(1);
}

//galery 
.item-gallery.crop-image {
	object-fit: cover;
}

////////////////////////////////////
/////////// ADDONS CLASS   ////////
//////////////////////////////////
.only-mobile {
	display: none;
}
.blur {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition-duration: .5s;
}
.mono-white {
	filter: brightness(10000%);
}
.mono-black {
	filter: brightness(0%);
}
.opacity-none {
	opacity: 0 !important;
}

////////////////////////////////////
///////////    HEADER      ////////
//////////////////////////////////

//header subpage
.header-bg {
	height: 300px;
	position: relative;
	.bg-image {
		height: 100%;
		background-attachment: fixed;
		background-size: cover;
		position: absolute;
		top: 0;
		width: 100%;
	}
	h1 {
		position: absolute;
		bottom: 20px;
		font-weight: 600;
	}
}

//button open navi
.open-navigation {
	.twelve { width: 100%; }
	.eleven { width: 91.53%; }
	.ten { width: 83.06%; }
	.nine { width: 74.6%; }
	.eight { width: 66.13%; }
	.seven { width: 57.66%; }
	.six { width: 49.2%; }
	.five { width: 40.73%; }
	.four { width: 32.26%; }
	.three { width: 23.8%; }
	.two { width: 15.33%; }
	.one { width: 6.866%; }
	.col {
		display: block;
		float:left;
		margin: 1% 0 1% 1.6%;
	}
	.col:first-of-type {
		margin-left: 0;
	}

	.cf:before,
	.cf:after {
		content: " ";
		display: table;
	}

	.cf:after {
		clear: both;
	}

	.cf {
		*zoom: 1;
	} 

	.hamburger .line{
		width: 50px;
		height: 5px;
		background-color: #ecf0f1;
		display: block;
		margin: 8px auto;
		transition: all 0.3s ease-in-out;
	}

	.hamburger:hover{
		cursor: pointer; 
	}
}
#blog-page {
	.inner-post-list {
		background: #f3f4f6;
		.title {
			text-align: center;
			padding: 10px 0px;
			font-weight: 600;
			font-size: 1.4em;
			text-transform: capitalize;
		}
		.excerpt, .excerpt * {
			text-align: center;
			padding: 0px 15px;
			font-size: .9em;
			min-height: 110px;
			overflow: scroll;
		}
		.link {
			font-weight: 600;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 2px;
			&:hover {
				letter-spacing: 0px;
			}
		}
		.inner-content {
			padding-bottom: 20px; 
			margin-bottom: 20px;
		}
	}
}
aside {
	h2 {

	}
	ul {

		list-style-type: none;
		padding:0px;
		border: solid 1px #ddd;
		li {
			padding: 10px;
			border-bottom: solid 1px #ddd;
			padding-left: 15px;
			&:last-child {
				border-bottom: solid 0px transparent;
				margin-bottom: 0px;
			}
			a {

			}
		}
	}
}
section.textbox {
	padding:40px 0px;
}
pre.wp-block-code {
	border: solid 1px #ddd;
	padding: 20px;
}