@import url("https://fonts.googleapis.com/css?family=Overlock:400,700,900&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=latin-ext");
@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes fadein {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }
h1, h2, h3, h4, h5, h6 {
  font-family: "Overlock", cursive; }

* {
  font-family: "PT Sans", sans-serif; }

button {
  background: #F2F2F2;
  color: #0D0D0D;
  border: solid 1px #F2F2F2;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 600;
  transition-duration: .5s;
  box-shadow: 0px 5px 5px #000; }
  button:hover {
    background: #0D0D0D;
    color: #F2F2F2;
    border: solid 1px #0D0D0D;
    box-shadow: 0px 0px 10px #000; }

a {
  transition-duration: .5s;
  color: #0D0D0D; }
  a:hover {
    text-decoration: none;
    color: #A4A5A6; }

.thumbnail img {
  max-width: 100%;
  height: auto; }

section {
  position: relative;
  max-width: 100vw;
  margin-top: 40px;
  margin-bottom: 40px; }
  section:first-child {
    margin-top: 0px;
    margin-bottom: 40px; }

body:not(.home) section:first-child {
  margin-top: 40px; }
@media (max-width: 576px) {
  body .only-mobile {
    display: block; }
  body header .only-mobile {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center; } }
@media (max-width: 768px) {
  body .only-mobile {
    display: block; }
  body header .only-mobile {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center; } }
body.page-template-homepage-php section:first-child {
  margin-top: 0px; }
body > .fb-page.fb_iframe_widget {
  display: none; }

#face-slider {
  position: fixed;
  right: -290px;
  top: 130px;
  z-index: 1000;
  transition-duration: .5s; }
  #face-slider:hover {
    right: 0px; }
  #face-slider #tab {
    cursor: pointer;
    height: 110px;
    width: 45px;
    float: left; }
    #face-slider #tab img {
      width: 100%; }

#face-code {
  padding: 5px;
  border: solid #0170cf 3px;
  background: #fff;
  float: left;
  width: 286px;
  height: 100px;
  -moz-border-radius: 0 0 0 8px;
  -webkit-border-radius: 0 0 0 8px;
  border-radius: 0 0 0 8px; }

.fb-page.fb_iframe_widget {
  transform: scale(1); }

.item-gallery.crop-image {
  object-fit: cover; }

.only-mobile {
  display: none; }

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition-duration: .5s; }

.mono-white {
  filter: brightness(10000%); }

.mono-black {
  filter: brightness(0%); }

.opacity-none {
  opacity: 0 !important; }

.header-bg {
  height: 300px;
  position: relative; }
  .header-bg .bg-image {
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%; }
  .header-bg h1 {
    position: absolute;
    bottom: 20px;
    font-weight: 600; }

.open-navigation .twelve {
  width: 100%; }
.open-navigation .eleven {
  width: 91.53%; }
.open-navigation .ten {
  width: 83.06%; }
.open-navigation .nine {
  width: 74.6%; }
.open-navigation .eight {
  width: 66.13%; }
.open-navigation .seven {
  width: 57.66%; }
.open-navigation .six {
  width: 49.2%; }
.open-navigation .five {
  width: 40.73%; }
.open-navigation .four {
  width: 32.26%; }
.open-navigation .three {
  width: 23.8%; }
.open-navigation .two {
  width: 15.33%; }
.open-navigation .one {
  width: 6.866%; }
.open-navigation .col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }
.open-navigation .col:first-of-type {
  margin-left: 0; }
.open-navigation .cf:before,
.open-navigation .cf:after {
  content: " ";
  display: table; }
.open-navigation .cf:after {
  clear: both; }
.open-navigation .cf {
  *zoom: 1; }
.open-navigation .hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out; }
.open-navigation .hamburger:hover {
  cursor: pointer; }

#blog-page .inner-post-list {
  background: #f3f4f6; }
  #blog-page .inner-post-list .title {
    text-align: center;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 1.4em;
    text-transform: capitalize; }
  #blog-page .inner-post-list .excerpt, #blog-page .inner-post-list .excerpt * {
    text-align: center;
    padding: 0px 15px;
    font-size: .9em;
    min-height: 110px;
    overflow: scroll; }
  #blog-page .inner-post-list .link {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px; }
    #blog-page .inner-post-list .link:hover {
      letter-spacing: 0px; }
  #blog-page .inner-post-list .inner-content {
    padding-bottom: 20px;
    margin-bottom: 20px; }

aside ul {
  list-style-type: none;
  padding: 0px;
  border: solid 1px #ddd; }
  aside ul li {
    padding: 10px;
    border-bottom: solid 1px #ddd;
    padding-left: 15px; }
    aside ul li:last-child {
      border-bottom: solid 0px transparent;
      margin-bottom: 0px; }

section.textbox {
  padding: 40px 0px; }

pre.wp-block-code {
  border: solid 1px #ddd;
  padding: 20px; }

/*# sourceMappingURL=main-theme.css.map */
