body.disable-scroll{max-height:100vh;overflow-y:hidden}.turn-off-scroll{width:85vw;position:fixed;top:0;left:0;height:100vh;background:rgba(0,0,0,.15);z-index:200;overflow:hidden}#header-5 nav{position:fixed;right:0;z-index:20;background:red;height:100vh;width:15vw}