/*!
  * Plugin:	Rank Math
  * URL:	https://rankmath.com/wordpress/plugin/seo-suite/
  * Name:	rank-math.css
  */
#wp-admin-bar-rank-math .rank-math-icon{display:inline-block;top:6px;position:relative;padding-right:10px}#wp-admin-bar-rank-math .rank-math-icon svg{fill-rule:evenodd;fill:#dedede;height:21px}#wp-admin-bar-rank-math:hover .rank-math-icon svg{fill-rule:evenodd;fill:#00b9eb}