.single-portfolio .gallery .item-gallery {
  object-fit: cover;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.45);
  transition-duration: .5s; }
  .single-portfolio .gallery .item-gallery:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75); }
.single-portfolio .first-paragraph {
  padding: 40px 0px;
  font-size: 2em;
  font-weight: 600; }
.single-portfolio .info-portfolio span, .single-portfolio .info-portfolio a {
  font-weight: 600; }
  .single-portfolio .info-portfolio span:after, .single-portfolio .info-portfolio a:after {
    content: ", "; }
  .single-portfolio .info-portfolio span:last-child:after, .single-portfolio .info-portfolio a:last-child:after {
    content: ". "; }
.single-portfolio .inner-single-item {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px #ddd; }

/*# sourceMappingURL=style.css.map */
