.single-portfolio {
	.gallery {
		.item-gallery {
			object-fit: cover;
			box-shadow: 0px 5px 10px rgba(0,0,0,.45);
			transition-duration: .5s;
			&:hover {
				box-shadow: 0px 0px 10px rgba(0,0,0,.75);
			}
		}
	}
	.first-paragraph {
		padding: 40px 0px;
		font-size: 2em;
		font-weight: 600;
	}
	.info-portfolio {
		span, a {
			font-weight: 600;
			&:after {
				content: ", ";
			}
			&:last-child:after {
				content: ". ";	
			}
		}
	}
	.inner-single-item {
		padding-bottom: 5px;
		margin-bottom: 5px;
		border-bottom: solid 1px #ddd;
	}
} 