#double-slider :root {
  --z-distance: 8.519vw;
  --from-left: 1;
  --mobile-bkp: 650px; }
#double-slider *, #double-slider *::before, #double-slider *::after {
  box-sizing: border-box; }
#double-slider body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Lora, serif;
  font-size: calc(14px + .3vw); }
#double-slider .slider {
  width: 100vw;
  height: 100vh;
  display: flex;
  perspective: 1000px;
  transform-style: preserve-3d; }
  #double-slider .slider::before, #double-slider .slider::after {
    content: '';
    left: -1vw;
    top: -1vh;
    display: block;
    position: absolute;
    width: 102vw;
    height: 102vh;
    background-position: center;
    background-size: cover;
    will-change: opacity;
    z-index: -1;
    box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.7) inset; }
  #double-slider .slider::before {
    background-image: var(--img-prev); }
  #double-slider .slider::after {
    transition: opacity 0.7s;
    opacity: 0;
    background-image: var(--img-next); }
  #double-slider .slider--bg-next::after {
    opacity: 1; }
  #double-slider .slider__content {
    margin: auto;
    width: 65vw;
    height: 32.5vw;
    max-height: 60vh;
    will-change: transform;
    transform-style: preserve-3d;
    pointer-events: none;
    transform: translateZ(var(--z-distance)); }
  #double-slider .slider__images {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    box-shadow: 0 0 5em #000; }
    #double-slider .slider__images-item {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      will-change: transform;
      transition-timing-function: ease-in;
      visibility: hidden; }
      #double-slider .slider__images-item img {
        display: block;
        position: relative;
        left: -1em;
        top: -1em;
        width: calc(100% + 1em * 2);
        height: calc(100% + 1em * 2);
        object-fit: cover;
        will-change: transform; }
    #double-slider .slider__images-item--active {
      z-index: 20;
      visibility: visible; }
    #double-slider .slider__images-item--subactive {
      z-index: 15;
      visibility: visible; }
    #double-slider .slider__images-item--next {
      transform: translateX(100%); }
    #double-slider .slider__images-item--prev {
      transform: translateX(-100%); }
    #double-slider .slider__images-item--transit {
      transition: transform 0.7s, opacity 0.7s; }
  #double-slider .slider__text {
    position: relative;
    height: 100%; }
    #double-slider .slider__text-item {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0.5em;
      perspective: 1000px;
      transform-style: preserve-3d; }
      #double-slider .slider__text-item > * {
        overflow: hidden;
        position: absolute; }
      #double-slider .slider__text-item h3, #double-slider .slider__text-item p {
        transition: transform 0.35s ease-out;
        line-height: 1.5;
        overflow: hidden; }
      #double-slider .slider__text-item h3 {
        background-color: rgba(255, 255, 255, 0.5); }
      #double-slider .slider__text-item p {
        font-family: 'Open Sans', sans-serif;
        padding: 1em;
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5); }
      #double-slider .slider__text-item h3::before, #double-slider .slider__text-item p::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 105%;
        height: 100%;
        transform: translateX(0);
        transition: transform 0.35s ease-out 0.28s; }
      #double-slider .slider__text-item h3::before {
        background-color: #000; }
      #double-slider .slider__text-item p::before {
        background-color: #fff; }
      #double-slider .slider__text-item h3 {
        margin: 0;
        font-size: 3.5em;
        padding: 0 .3em;
        position: relative;
        font-weight: 700;
        transform: translateX(-100%); }
      #double-slider .slider__text-item p {
        margin: 0;
        transform: translateX(100%); }
    #double-slider .slider__text-item-head {
      top: -0.5em;
      transform: translateZ(3em);
      clip-path: polygon(0 0, 0.5em 100%, 100% 100%, calc(100% - .3em) 0.3em); }
    #double-slider .slider__text-item-info {
      bottom: 0;
      right: 0;
      max-width: 75%;
      min-width: min-content;
      transform: translateZ(2em);
      clip-path: polygon(0.5em 0, 100% 0%, calc(100% - .5em) 100%, 0 calc(100% - .5em)); }
    #double-slider .slider__text-item--active h3, #double-slider .slider__text-item--active p {
      transform: translateX(0); }
    #double-slider .slider__text-item--active h3::before {
      transform: translateX(100%); }
    #double-slider .slider__text-item--active p::before {
      transform: translateX(-100%); }
    #double-slider .slider__text-item--backwards h3::before, #double-slider .slider__text-item--backwards p::before {
      transition: transform 0.35s ease-in; }
    #double-slider .slider__text-item--backwards h3, #double-slider .slider__text-item--backwards p {
      transition: transform 0.35s ease-in 0.35s; }
  #double-slider .slider__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center; }
    #double-slider .slider__nav-arrows {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    #double-slider .slider__nav-arrow {
      height: 100vh;
      width: 50vw;
      text-indent: -9999px;
      white-space: nowrap; }
      #double-slider .slider__nav-arrow--left {
        --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 4 4'%3E %3Cpolyline points='3 1 1 2 3 3' stroke='white' stroke-width='.3' stroke-opacity='.5' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
        cursor: var(--arrow) 40 40, auto; }
      #double-slider .slider__nav-arrow--right {
        --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 4 4'%3E %3Cpolyline points='1 1 3 2 1 3' stroke='white' stroke-width='.3' stroke-opacity='.5' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
        cursor: var(--arrow) 40 40, auto; }
    #double-slider .slider__nav-dots {
      margin-top: 88vh;
      display: inline-flex;
      position: relative;
      padding: 1em;
      pointer-events: none; }
      #double-slider .slider__nav-dots::before {
        content: '';
        position: absolute;
        left: calc(1em + 1em + 2px);
        top: calc(1em + 2px);
        width: calc(1em - 2px * 2);
        height: calc(1em / 2 - 2px * 2);
        background-color: rgba(255, 255, 255, 0.9);
        transition: transform 0.7s ease-out;
        transform: translateX(calc((1em + 1em * 2) * (var(--from-left) - 1))); }
    #double-slider .slider__nav-dot {
      margin: 0 1em;
      width: 1em;
      height: 0.5em;
      border: 2px solid rgba(255, 255, 255, 0.5);
      cursor: crosshair;
      pointer-events: all;
      display: inline-block; }
      #double-slider .slider__nav-dot:hover {
        border-color: rgba(255, 255, 255, 0.7); }
      #double-slider .slider__nav-dot:active {
        border-color: rgba(255, 255, 255, 0.5); }
@media only screen and (max-width: 650px) {
  #double-slider .slider::before,
  #double-slider .slider::after {
    display: none; }
  #double-slider .slider__content {
    width: 100vw;
    height: 100vh;
    max-height: 100vh; }
  #double-slider .slider__text-item-info {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%); }
    #double-slider .slider__text-item-info p {
      padding: 1em .8em; }
  #double-slider .slider__text-item-head {
    top: 5vh;
    left: 10vw;
    transform: translateZ(0); }
    #double-slider .slider__text-item-head h3 {
      font-size: 2.5em; }
  #double-slider .slider__nav-dots {
    background-color: rgba(0, 0, 0, 0.3); }
  #double-slider .slider__nav-arrow {
    width: 10vw;
    position: relative;
    cursor: auto; }
    #double-slider .slider__nav-arrow:active {
      filter: brightness(0.5); }
    #double-slider .slider__nav-arrow::before {
      content: '';
      background-image: var(--arrow);
      background-size: cover;
      width: 8vw;
      height: 8vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #double-slider .slider__nav-arrow--left {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0, transparent 100%); }
      #double-slider .slider__nav-arrow--left:active {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0, transparent 100%); }
    #double-slider .slider__nav-arrow--right {
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0, transparent 100%); }
      #double-slider .slider__nav-arrow--right:active {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.9) 0, transparent 100%); } }
#double-slider :root {
  --z-distance: 8.519vw;
  --from-left: 1;
  --mobile-bkp: 650px; }
#double-slider *, #double-slider *::before, #double-slider *::after {
  box-sizing: border-box; }
#double-slider body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Lora, serif;
  font-size: calc(14px + .3vw); }
#double-slider .slider {
  width: 100vw;
  height: 100vh;
  display: flex;
  perspective: 1000px;
  transform-style: preserve-3d; }
#double-slider .slider::before, #double-slider .slider::after {
  content: '';
  left: -1vw;
  top: -1vh;
  display: block;
  position: absolute;
  width: 102vw;
  height: 102vh;
  background-position: center;
  background-size: cover;
  will-change: opacity;
  z-index: -1;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.7) inset; }
#double-slider .slider::before {
  background-image: var(--img-prev); }
#double-slider .slider::after {
  transition: opacity 0.7s;
  opacity: 0;
  background-image: var(--img-next); }
#double-slider .slider--bg-next::after {
  opacity: 1; }
#double-slider .slider__content {
  margin: auto;
  width: 65vw;
  height: 32.5vw;
  max-height: 60vh;
  will-change: transform;
  transform-style: preserve-3d;
  pointer-events: none;
  transform: translateZ(var(--z-distance)); }
#double-slider .slider__images {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  box-shadow: 0 0 5em #000; }
#double-slider .slider__images-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  will-change: transform;
  transition-timing-function: ease-in;
  visibility: hidden; }
#double-slider .slider__images-item img {
  display: block;
  position: relative;
  left: -1em;
  top: -1em;
  width: calc(100% + 1em * 2);
  height: calc(100% + 1em * 2);
  object-fit: cover;
  will-change: transform; }
#double-slider .slider__images-item--active {
  z-index: 20;
  visibility: visible; }
#double-slider .slider__images-item--subactive {
  z-index: 15;
  visibility: visible; }
#double-slider .slider__images-item--next {
  transform: translateX(100%); }
#double-slider .slider__images-item--prev {
  transform: translateX(-100%); }
#double-slider .slider__images-item--transit {
  transition: transform 0.7s, opacity 0.7s; }
#double-slider .slider__text {
  position: relative;
  height: 100%; }
#double-slider .slider__text-item {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  perspective: 1000px;
  transform-style: preserve-3d; }
#double-slider .slider__text-item > * {
  overflow: hidden;
  position: absolute; }
#double-slider .slider__text-item h3, #double-slider .slider__text-item p {
  transition: transform 0.35s ease-out;
  line-height: 1.5;
  overflow: hidden; }
#double-slider .slider__text-item h3 {
  background-color: rgba(255, 255, 255, 0.5); }
#double-slider .slider__text-item p {
  font-family: 'Open Sans', sans-serif;
  padding: 1em;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); }
#double-slider .slider__text-item h3::before, #double-slider .slider__text-item p::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.35s ease-out 0.28s; }
#double-slider .slider__text-item h3::before {
  background-color: #000; }
#double-slider .slider__text-item p::before {
  background-color: #fff; }
#double-slider .slider__text-item h3 {
  margin: 0;
  font-size: 3.5em;
  padding: 0 .3em;
  position: relative;
  font-weight: 700;
  transform: translateX(-100%); }
#double-slider .slider__text-item p {
  margin: 0;
  transform: translateX(100%); }
#double-slider .slider__text-item-head {
  top: -0.5em;
  transform: translateZ(3em); }
#double-slider .slider__text-item-info {
  bottom: 0;
  right: 0;
  max-width: 75%;
  min-width: min-content;
  transform: translateZ(2em); }
#double-slider .slider__text-item--active h3, #double-slider .slider__text-item--active p {
  transform: translateX(0); }
#double-slider .slider__text-item--active h3::before {
  transform: translateX(102%); }
#double-slider .slider__text-item--active p::before {
  transform: translateX(-102%); }
#double-slider .slider__text-item--backwards h3::before, #double-slider .slider__text-item--backwards p::before {
  transition: transform 0.35s ease-in; }
#double-slider .slider__text-item--backwards h3, #double-slider .slider__text-item--backwards p {
  transition: transform 0.35s ease-in 0.35s; }
#double-slider .slider__nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center; }
#double-slider .slider__nav-arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
#double-slider .slider__nav-arrow {
  height: 100vh;
  width: 50vw;
  text-indent: -9999px;
  white-space: nowrap; }
#double-slider .slider__nav-arrow--left {
  --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 4 4'%3E %3Cpolyline points='3 1 1 2 3 3' stroke='white' stroke-width='.3' stroke-opacity='.5' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
  cursor: var(--arrow) 40 40, auto; }
#double-slider .slider__nav-arrow--right {
  --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 4 4'%3E %3Cpolyline points='1 1 3 2 1 3' stroke='white' stroke-width='.3' stroke-opacity='.5' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
  cursor: var(--arrow) 40 40, auto; }
#double-slider .slider__nav-dots {
  margin-top: 88vh;
  display: inline-flex;
  position: relative;
  padding: 1em;
  pointer-events: none; }
#double-slider .slider__nav-dots::before {
  content: '';
  position: absolute;
  left: calc(1em + 1em + 2px);
  top: calc(1em + 2px);
  width: calc(1em - 2px * 2);
  height: calc(1em / 2 - 2px * 2);
  background-color: rgba(255, 255, 255, 0.9);
  transition: transform 0.7s ease-out;
  transform: translateX(calc((1em + 1em * 2) * (var(--from-left) - 1))); }
#double-slider .slider__nav-dot {
  margin: 0 1em;
  width: 1em;
  height: 0.5em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: crosshair;
  pointer-events: all;
  display: inline-block; }
#double-slider .slider__nav-dot:hover {
  border-color: rgba(255, 255, 255, 0.7); }
#double-slider .slider__nav-dot:active {
  border-color: rgba(255, 255, 255, 0.5); }
@media only screen and (max-width: 650px) {
  #double-slider .slider::before,
  #double-slider .slider::after {
    display: none; }
  #double-slider .slider__content {
    width: 100vw;
    height: 100vh;
    max-height: 100vh; }
  #double-slider .slider__text-item-info {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%); }
  #double-slider .slider__text-item-info p {
    padding: 1em .8em; }
  #double-slider .slider__text-item-head {
    top: 5vh;
    left: 10vw;
    transform: translateZ(0); }
  #double-slider .slider__text-item-head h3 {
    font-size: 2.5em; }
  #double-slider .slider__nav-dots {
    background-color: rgba(0, 0, 0, 0.3); }
  #double-slider .slider__nav-arrow {
    width: 10vw;
    position: relative;
    cursor: auto; }
  #double-slider .slider__nav-arrow:active {
    filter: brightness(0.5); }
  #double-slider .slider__nav-arrow::before {
    content: '';
    background-image: var(--arrow);
    background-size: cover;
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #double-slider .slider__nav-arrow--left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0, transparent 100%); }
  #double-slider .slider__nav-arrow--left:active {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0, transparent 100%); }
  #double-slider .slider__nav-arrow--right {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0, transparent 100%); }
  #double-slider .slider__nav-arrow--right:active {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.9) 0, transparent 100%); } }

/*# sourceMappingURL=style.css.map */
