@import "../../../../../assets/sass/general";

////////////////////////////
///////    SLIDER     /////
//////////////////////////
.theme-section-slider {
	background-color: #000;
	&__image {
		max-height: 90vh;
		-o-object-fit: cover;
		object-fit: cover;
		width: 100%;
		opacity: .5;
	}
	&__carousel-text {
		position: absolute;
		top: 0px;
		left: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		flex-direction: column;
		color: $icolor;   
		&--title {
			font-size: 5em; 
			margin-bottom: 1rem;
		}
		&--subtitle {
			text-transform: uppercase;
			font-size: 1.35em;
			font-weight: 300;
			letter-spacing: 3px;
		}
		&--link {
			text-transform: uppercase;
			color: $ocolor;
			&:hover {
				color: $icolor;
			}
		}
	}


	@media (max-width: 576px) { 
		&__image {
		} 
		&__carousel-text {
			text-align: center;
			width: 90%; 
			margin-left: 5%;
			&--title {
				font-size: 3.5em; 
			}
			&--subtitle {
			}
			&--link {
				&:hover {
				}
			}
		}
	}
}