@import "../../../../../assets/sass/general";

//button open navi
.open-navigation {
	#hamburger-6.is-active{
		transition: all 0.3s ease-in-out;
		transition-delay: 0.6s;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	#hamburger-6.is-active .line:nth-child(2){
		width: 0px;
	}

	#hamburger-6.is-active .line:nth-child(1),
	#hamburger-6.is-active .line:nth-child(3){
		transition-delay: 0.3s;
	}

	#hamburger-6.is-active .line:nth-child(1){
		-webkit-transform: translateY(13px);
		transform: translateY(13px);
	}

	#hamburger-6.is-active .line:nth-child(3){
		-webkit-transform: translateY(-13px) rotate(90deg);
		transform: translateY(-13px) rotate(90deg);
	}
}
