@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes fadein {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.href-center {
  display: flex;
  justify-content: center;
  width: 100%; }

img.item-gallery {
  object-fit: cover; }

.row-rewerse {
  flex-direction: row-reverse; }

button {
  background: #F2F2F2;
  color: #0D0D0D;
  border: solid 1px #F2F2F2;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 600;
  transition-duration: .5s;
  box-shadow: 0px 5px 5px #000; }
  button:hover {
    background: #0D0D0D;
    color: #F2F2F2;
    border: solid 1px #0D0D0D;
    box-shadow: 0px 0px 10px #000; }

main.content-subpage {
  width: 100%; }

a {
  transition-duration: .5s;
  color: #0D0D0D; }
  a:hover {
    text-decoration: none;
    color: #A4A5A6; }

.thumbnail img {
  max-width: 100%;
  height: auto; }

.section-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed; }

.thumbnail svg {
  max-height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; }

section {
  position: relative;
  max-width: 100vw;
  margin-top: 40px;
  margin-bottom: 40px; }
  section:first-child {
    margin-top: 0px;
    margin-bottom: 40px; }

body:not(.home) section:first-child {
  margin-top: 40px; }
@media (max-width: 950px) {
  body .only-mobile {
    display: block; }
  body header .only-mobile {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center; } }
body.page-template-homepage-php section:first-child {
  margin-top: 0px; }
body > .fb-page.fb_iframe_widget {
  display: none; }

.inner-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

#face-slider {
  position: fixed;
  right: -290px;
  top: 130px;
  z-index: 1000;
  transition-duration: .5s; }
  #face-slider:hover {
    right: 0px; }
  #face-slider #tab {
    cursor: pointer;
    height: 110px;
    width: 45px;
    float: left; }
    #face-slider #tab img {
      width: 100%; }

#face-code {
  padding: 5px;
  border: solid #0170cf 3px;
  background: #fff;
  float: left;
  width: 286px;
  height: 100px;
  -moz-border-radius: 0 0 0 8px;
  -webkit-border-radius: 0 0 0 8px;
  border-radius: 0 0 0 8px; }

.fb-page.fb_iframe_widget {
  transform: scale(1); }

.item-gallery.crop-image {
  object-fit: cover; }

.only-mobile {
  display: none; }

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition-duration: .5s; }

.mono-white {
  filter: brightness(10000%); }

.mono-black {
  filter: brightness(0%); }

.opacity-none {
  opacity: 0 !important; }

.header-bg {
  height: 90vh;
  position: relative; }
  .header-bg .bg-image {
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%; }
  .header-bg .header-present {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 100%;
    left: 0; }
  .header-bg hr {
    height: 1px;
    background: #fff;
    opacity: .5;
    width: 60%;
    margin: auto;
    margin-bottom: 10px; }
  .header-bg .gradient-shadow {
    background: linear-gradient(0deg, #171717, transparent);
    width: 100%;
    height: 100px;
    bottom: 0px;
    position: absolute; }

main#blog-page {
  background: #171717; }
  main#blog-page section:first-child {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 150px 0px; }
  main#blog-page .all-post {
    position: relative;
    height: 100%; }
    main#blog-page .all-post .inner-alt-post {
      position: sticky;
      top: 13%; }

main#single-post {
  background: #171717;
  margin-top: 0px;
  padding: 80px 0px; }
  main#single-post * {
    color: #fff; }
  main#single-post section:first-child {
    margin: 0px; }

.open-navigation .twelve {
  width: 100%; }
.open-navigation .eleven {
  width: 91.53%; }
.open-navigation .ten {
  width: 83.06%; }
.open-navigation .nine {
  width: 74.6%; }
.open-navigation .eight {
  width: 66.13%; }
.open-navigation .seven {
  width: 57.66%; }
.open-navigation .six {
  width: 49.2%; }
.open-navigation .five {
  width: 40.73%; }
.open-navigation .four {
  width: 32.26%; }
.open-navigation .three {
  width: 23.8%; }
.open-navigation .two {
  width: 15.33%; }
.open-navigation .one {
  width: 6.866%; }
.open-navigation .col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }
.open-navigation .col:first-of-type {
  margin-left: 0; }
.open-navigation .cf:before,
.open-navigation .cf:after {
  content: " ";
  display: table; }
.open-navigation .cf:after {
  clear: both; }
.open-navigation .cf {
  *zoom: 1; }
.open-navigation .hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out; }
.open-navigation .hamburger:hover {
  cursor: pointer; }

@media (max-width: 950px) {
  #blog .inner-content {
    margin-top: 10px; } }
#blog .inner-post-list {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px; }
  #blog .inner-post-list .categories {
    display: flex;
    flex-wrap: wrap; }
    #blog .inner-post-list .categories a {
      border: none;
      background: linear-gradient(0deg, #b12044, #981435);
      color: #fff;
      padding: 5px 15px;
      border-radius: 20px;
      font-size: 10px;
      margin-right: 10px;
      white-space: nowrap;
      margin-bottom: 5px; }
  #blog .inner-post-list .thumbnail {
    height: 100%; }
    #blog .inner-post-list .thumbnail img {
      height: 100%;
      object-fit: cover; }
  #blog .inner-post-list .data {
    background: linear-gradient(0deg, #b12044, #981435);
    width: 100%;
    display: flex;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: .8em;
    border-radius: 15px;
    display: flex;
    flex-direction: column; }
  #blog .inner-post-list h3 {
    margin: 5px 0px;
    font-weight: 700; }
  #blog .inner-post-list .excerpt {
    font-size: .8em;
    color: #9c9b9b;
    width: 85%;
    margin-bottom: 10px; }
    #blog .inner-post-list .excerpt p {
      margin-bottom: 0px; }
  #blog .inner-post-list .link {
    letter-spacing: 2px; }
    #blog .inner-post-list .link a {
      font-size: .8em;
      font-family: "Titillium Web", sans-serif; }

body.single #blog .inner-post-list .categories, body.single #blog .inner-post-list .tags {
  display: flex;
  flex-wrap: wrap; }
  body.single #blog .inner-post-list .categories span, body.single #blog .inner-post-list .tags span {
    font-weight: 600;
    margin-right: 5px;
    font-size: 1.1em; }
  body.single #blog .inner-post-list .categories a, body.single #blog .inner-post-list .tags a {
    border: none;
    background: linear-gradient(0deg, #b12044, #981435);
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 10px;
    margin-right: 10px;
    white-space: nowrap;
    margin-bottom: 5px; }
body.single #blog .inner-post-list .tags a {
  background: linear-gradient(0deg, #3db120, #378c22); }
body.single .data {
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25em;
  border-radius: 50px; }

#main-single-page {
  background: #171717; }
  #main-single-page section {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 120px 0px; }

aside {
  height: 100%; }
  aside #sidebar {
    background: #fff;
    position: sticky;
    top: 40px; }
  @media (max-width: 1024px) {
    aside {
      margin-top: 20px; } }
  aside h2.widget-title {
    font-size: 1.15em;
    font-weight: 600;
    margin-top: 30px; }
  aside ul {
    list-style-type: none;
    padding: 0px; }
    aside ul > li {
      padding: 10px;
      border-bottom: solid 1px #ddd;
      padding-left: 15px; }
      aside ul > li:last-child {
        border-bottom: solid 0px transparent;
        margin-bottom: 0px; }
  aside ul > li > ul {
    margin-top: 0px; }
  aside .tagcloud {
    display: flex; }
    aside .tagcloud a {
      border: none;
      background: linear-gradient(0deg, #3db120, #378c22);
      color: #fff;
      padding: 5px 15px;
      border-radius: 20px;
      font-size: 10px !important;
      margin-right: 5px;
      white-space: nowrap; }
  aside form > div {
    display: flex;
    flex-wrap: wrap; }
    aside form > div label.screen-reader-text {
      width: 30%;
      margin-bottom: 10px; }
    aside form > div input#s {
      width: 70%;
      margin-bottom: 10px; }
  aside input#searchsubmit {
    background: linear-gradient(0deg, #b12044, #981435);
    color: #fff;
    width: 100%;
    padding: 5px;
    border: none; }
  aside section.textbox {
    padding: 40px 0px; }
  aside pre.wp-block-code {
    border: solid 1px #ddd;
    padding: 20px; }
  aside .thumbnail img {
    max-width: 100%;
    height: auto; }

/*# sourceMappingURL=main-theme.css.map */
