@import "general";
$ffont: 'Kameron', serif;
$sfont:'Titillium Web', sans-serif;

//KEYFRAMES
@keyframes fadein{
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}
.href-center {
	display: flex;
	justify-content: center;
	width: 100%;
}
img.item-gallery {
	object-fit: cover;
}
.row-rewerse {
	flex-direction: row-reverse;
}
////////////////////////////////////
///////////    GLOBAL      ////////
//////////////////////////////////
button {
	background: $icolor;
	color: $fcolor;
	border: solid 1px $icolor;
	padding: 5px 20px;
	text-transform: uppercase;
	font-weight: 600;
	transition-duration: .5s;
	box-shadow: 0px 5px 5px #000;
	&:hover {
		background: $fcolor;
		color: $icolor; 
		border: solid 1px $fcolor;
		box-shadow: 0px 0px 10px #000;
	}
}
main.content-subpage {
	width: 100%;
}
a {
	transition-duration: .5s;
	color: $fcolor;
	&:hover {
		text-decoration: none;
		color: $scolor;
	}
}
.thumbnail img {
	max-width: 100%;
	height: auto;
}
.section-background-image {
	position: absolute;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}
.thumbnail svg {
	max-height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}
section {
	position: relative;
	max-width: 100vw;
	margin-top: 40px;
	margin-bottom: 40px;
	&:first-child { 
		margin-top: 0px;
		margin-bottom: 40px;
	}
}

body {
	&:not(.home) {
		section {
			&:first-child { 
				margin-top: 40px;
			}
		}
	}
	@media (max-width: 950px) { 
		.only-mobile {
			display: block;
		}
		header .only-mobile {
			display: flex;
			height: 100%;
			justify-content: flex-end;
			align-items: center;
		} 
	}
	&.page-template-homepage-php {
		section:first-child {
			margin-top: 0px;
		}
	}

	& > .fb-page.fb_iframe_widget {
		display: none;
	}
}
.inner-background {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
////////////////////////////////////
///////////    ADDONS      ////////
//////////////////////////////////
#face-slider {
	position: fixed;
	right: -290px;
	top: 130px;
	z-index: 1000;
	transition-duration: .5s;
	&:hover {
		right: 0px;
	}
	#tab {
		cursor: pointer;
		height: 110px;
		width: 45px;
		float: left;
		img {
			width: 100%;
		}
	}
}
#face-code {
	padding: 5px;
	border: solid #0170cf 3px;
	background: #fff;
	float: left;
	width: 286px;
	height: 100px;
	-moz-border-radius: 0 0 0 8px;
	-webkit-border-radius: 0 0 0 8px;
	border-radius: 0 0 0 8px;
}
.fb-page.fb_iframe_widget {
	transform: scale(1);
}

//galery 
.item-gallery.crop-image {
	object-fit: cover;
}

////////////////////////////////////
/////////// ADDONS CLASS   ////////
//////////////////////////////////
.only-mobile {
	display: none;
}
.blur {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition-duration: .5s;
}
.mono-white {
	filter: brightness(10000%);
}
.mono-black {
	filter: brightness(0%);
}
.opacity-none {
	opacity: 0 !important; 
}

////////////////////////////////////
///////////    HEADER      ////////
//////////////////////////////////

//header subpage
.header-bg {
	height: 90vh;
	position: relative;
	.bg-image {
		height: 100%;
		background-attachment: fixed;
		background-size: cover;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.header-present {
		position: absolute;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #fff;
		width: 100%;
		left: 0;
	}
	hr {
		height: 1px;
		background: #fff;
		opacity: .5;
		width: 60%;
		margin: auto;
		margin-bottom: 10px;
	}
	.gradient-shadow {
		background: linear-gradient(0deg, #171717, transparent);
		width: 100%;
		height: 100px;
		bottom: 0px;
		position: absolute;
	}
}
main#blog-page {
	background: #171717;
	section {
		&:first-child { 
			margin-top: 0px;
			margin-bottom: 0px;
			padding: 150px 0px; 
		}
	}
	.all-post {
		position: relative;
		height: 100%;
		.inner-alt-post {
			position: sticky;
			top:13%;
		}
	}
}
main#single-post {
	background: #171717;
	margin-top: 0px;
	padding: 80px 0px;
	* {
		color: #fff;
	}
	& section:first-child {
		margin: 0px;
	}
}
//button open navi
.open-navigation {
	.twelve { width: 100%; }
	.eleven { width: 91.53%; }
	.ten { width: 83.06%; }
	.nine { width: 74.6%; }
	.eight { width: 66.13%; }
	.seven { width: 57.66%; }
	.six { width: 49.2%; }
	.five { width: 40.73%; }
	.four { width: 32.26%; }
	.three { width: 23.8%; }
	.two { width: 15.33%; }
	.one { width: 6.866%; }
	.col {
		display: block;
		float:left;
		margin: 1% 0 1% 1.6%;
	}
	.col:first-of-type {
		margin-left: 0;
	}

	.cf:before,
	.cf:after {
		content: " ";
		display: table;
	}

	.cf:after {
		clear: both;
	}

	.cf {
		*zoom: 1;
	} 

	.hamburger .line{
		width: 50px;
		height: 5px;
		background-color: #ecf0f1;
		display: block;
		margin: 8px auto;
		transition: all 0.3s ease-in-out;
	}

	.hamburger:hover{
		cursor: pointer; 
	}
}
#blog {
	@media (max-width: 950px) { 
		.inner-content {
			margin-top: 10px;
		}
	}
	.inner-post-list {
		background: #fff;
		padding: 15px;
		margin-bottom: 20px;
		.categories {
			display: flex;
			flex-wrap: wrap;
			a {
				border: none;
				background: linear-gradient(0deg, #b12044, #981435);
				color: #fff;
				padding: 5px 15px;
				border-radius: 20px;
				font-size: 10px;
				margin-right: 10px;
				white-space: nowrap;
				margin-bottom: 5px;
			}
		}
		.thumbnail {
			height: 100%;

			img {
				height: 100%;
				object-fit: cover;
			}

		}
		.data {
			background: linear-gradient(0deg, #b12044, #981435);
			width: 100%;
			display: flex;
			padding: 5px ;
			text-align: center;
			color: #fff;
			font-weight: 600;
			font-size:.8em; 
			border-radius: 15px;
			display: flex;
			flex-direction: column;

		}
		h3 {
			margin: 5px 0px;
			font-weight: 700;
		} 
		.excerpt {
			font-size: .8em;
			color: #9c9b9b;
			width: 85%;
			margin-bottom: 10px;
			p {
				margin-bottom: 0px;
			}
		}
		.link {
			letter-spacing: 2px;
			a {
				font-size: .8em;
				font-family: $sfont; 
			}
		}
	}
}
body.single {
	#blog .inner-post-list {
		.categories, .tags {
			display: flex;
			flex-wrap: wrap;
			span {
				font-weight: 600;
				margin-right: 5px;
				font-size: 1.1em;
			}
			a {
				border: none;
				background: linear-gradient(0deg, #b12044, #981435);
				color: #fff;
				padding: 5px 15px;
				border-radius: 20px;
				font-size: 10px;
				margin-right: 10px;
				white-space: nowrap;
				margin-bottom: 5px;
			}
		}
		.tags {
			
			a {
				background: linear-gradient(0deg, #3db120, #378c22);
			}
		}
	}
	.data {
		height: 100%;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		font-size: 1.25em;
		border-radius: 50px;
	}
}
#main-single-page {
	background: #171717;
	section {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 120px 0px;
	}
}
aside {
	height: 100%;
	#sidebar {
		background: #fff;
		position: sticky;
		top:40px;
	}
	@media (max-width: 1024px) { 
		margin-top: 20px;
	}
	h2.widget-title {
		font-size: 1.15em;
		font-weight: 600;
		margin-top: 30px;
	}
	ul {
		list-style-type: none;
		padding:0px;
		& > li {
			padding: 10px;
			border-bottom: solid 1px #ddd;
			padding-left: 15px;
			&:last-child {
				border-bottom: solid 0px transparent;
				margin-bottom: 0px;
			} 
		}
	}
	ul > li > ul {
		margin-top: 0px;
	}
	.tagcloud {
		display: flex;
		a {
			border: none;
			background: linear-gradient(0deg, #3db120, #378c22);
			color: #fff;
			padding: 5px 15px;
			border-radius: 20px;
			font-size: 10px !important;
			margin-right: 5px;
			white-space: nowrap;
		}

	}
	form {
		& > div {
			display: flex;
			flex-wrap: wrap;
			label.screen-reader-text {
				width: 30%;
				margin-bottom: 10px;
			}
			input#s {
				width: 70%;
				margin-bottom: 10px;
			}
		}
	}
	input#searchsubmit {
		background: linear-gradient(0deg, #b12044, #981435);
		color: #fff;
		width: 100%;
		padding: 5px;
		border:none;
	}
	section.textbox {
		padding:40px 0px;
	}
	pre.wp-block-code {
		border: solid 1px #ddd;
		padding: 20px;
	}
	.thumbnail {
		img {
			max-width: 100%;
			height: auto;
		}
	}
}