.service {
  position: relative;
  overflow: hidden;
  padding: 60px 0px; }
  .service .background-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }
    .service .background-image .bg-image {
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-size: cover; }
  .service .title-container {
    text-align: center; }
    .service .title-container h3 {
      font-size: 3em;
      font-weight: 600; }
    .service .title-container p {
      width: 80%;
      margin: auto;
      margin-bottom: 40px;
      letter-spacing: 2px; }
  .service .inner-service {
    text-align: center;
    margin-bottom: 40px;
    border: solid 1px;
    padding: 15px;
    transition-duration: .5s; }

/*# sourceMappingURL=style.css.map */
