@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.section-logo-carousel span.carousel-control-next-icon, .section-logo-carousel span.carousel-control-prev-icon {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.95)); }
.section-logo-carousel a {
  display: flex;
  justify-content: center; }
.section-logo-carousel .carousel-item .row {
  justify-content: center; }
.section-logo-carousel .carousel {
  position: relative;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
