body.disable-scroll {
	max-height: 100vh;
	overflow-y: hidden;
	main {
		transition-duration: .5s;
		& > * {
			transform: perspective(1700px) rotateY(30deg); 
			transition-duration: .5s;
		}
	}
}
.turn-off-scroll {
	width: 85vw;
	position: absolute;
	top: 0;
	left: 0px;
	height: 100vh;
	//background: rgba(0,0,0,.15);
	z-index: 200;
	overflow: hidden;
}
.open-navigation {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 100;
}
#header-6 {
	.section-logo {
		margin-top: 50px;
	}
	.logotype {
		position: absolute;
		z-index: 2;
		top: 30px;
		left: 20px;
		max-width: 14vw;
	}
	nav {
		position: relative;
		position: fixed;
		right: 0px;
		z-index: 20;
		background: #fff;
		height: 100vh;
		width: 15vw;
		margin-right: -15vw;
		transition-duration: .5s;
		padding: 20px;
		box-shadow: -5px 0px 10px rgba(0,0,0,.25);
		&.active {
			margin-right: 0vw;
		}
		.navi-container-5 {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			position: relative;
			.dropdown-menu {
				position: absolute !important;
				bottom: 0px !important;
				top: unset !important;
				overflow: scroll;
				transform: none !important;
				opacity: 0;
				transition-duration: .5s;
				animation-delay: .25s;
				&.show {
					opacity: 1;
				}
			}
			ul {
				li {
					position: inherit;
					text-align: center; 
					a { 
						text-transform: uppercase;
					}
				}
			}
		}
	} 
}
@media (max-width: 576px) { 
	#header-5 nav .navi-container-5 .dropdown-menu { 
		bottom: 50px !important;
	}
	nav {
		width: 80vw;
		margin-right: -80vw;
	}
	nav.active {
		margin-right: 0vw;
	}
	.turn-off-scroll {
		width: 65vw;
	}
}
@media (max-width: 768px) { 
	#header-5 {
		nav {
			width: 35vw;
			margin-right: -35vw;
		}
		#header-5 nav.active {
			margin-right: 0vw;
		}
	}
}