body {
  scroll-behavior: smooth; }

#slick {
  position: relative;
  background: #110101;
  overflow: hidden;
  height: 100vh; }
  #slick .slick-scroll {
    position: absolute;
    bottom: 40px;
    z-index: 100;
    width: 100%;
    opacity: .75;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center; }
    #slick .slick-scroll a {
      border: solid 1px #fff;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      font-size: 11px;
      letter-spacing: 2px;
      padding: 5px 15px; }
    #slick .slick-scroll:hover {
      opacity: 1;
      bottom: 45px; }
  #slick .slideshow {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow: hidden; }
    #slick .slideshow .slider {
      width: 100vw;
      height: 100vw;
      z-index: 2; }
      #slick .slideshow .slider * {
        outline: none; }
      #slick .slideshow .slider .item {
        height: 100vh;
        width: 100vw;
        position: relative;
        overflow: hidden;
        border: none; }
        #slick .slideshow .slider .item .text {
          display: none; }
        #slick .slideshow .slider .item img {
          min-width: 101%;
          min-height: 101%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
    #slick .slideshow .slick-dots {
      position: absolute;
      z-index: 100;
      width: 40px;
      height: auto;
      bottom: auto;
      top: 50%;
      right: 50px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: auto;
      color: #fff;
      display: block; }
      #slick .slideshow .slick-dots li {
        display: block;
        width: 100%;
        height: auto; }
        #slick .slideshow .slick-dots li button {
          position: relative;
          width: 20px;
          height: 15px;
          text-align: center;
          background: transparent;
          text-align: center;
          border: none;
          color: transparent;
          box-shadow: none !important; }
          #slick .slideshow .slick-dots li button:before {
            content: '';
            background: #fff;
            color: #fff;
            height: 2px;
            width: 20px;
            border-radius: 0;
            position: absolute;
            top: 50%;
            right: 50px;
            left: auto;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            opacity: 0.6; }
        #slick .slideshow .slick-dots li.slick-active button:before {
          width: 40px;
          opacity: 1; }
    #slick .slideshow.slideshow-right {
      left: 0;
      z-index: 1;
      width: 50vw;
      pointer-events: none; }
      #slick .slideshow.slideshow-right .slider {
        left: 0;
        position: absolute; }
  #slick .position-scroll-down {
    position: absolute;
    bottom: 20px;
    z-index: 200;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center; }
  #slick a.scroll-to-bottom-section {
    color: #fff; }
    #slick a.scroll-to-bottom-section svg {
      width: 30px;
      height: auto; }
  #slick .slideshow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 40px;
    width: 100vw;
    text-align: center;
    color: #fff;
    font-weight: 100;
    pointer-events: none;
    text-transform: uppercase;
    letter-spacing: 20px;
    line-height: 1.2;
    overflow: hidden; }
    @media (max-width: 767px) {
      #slick .slideshow-text {
        font-size: 30px; } }
  #slick .the-most {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 50vw;
    max-width: 200px;
    padding: 10px; }
    #slick .the-most img {
      max-width: 100%; }

@media (max-width: 767px) {
  #slick .slideshow .slick-dots {
    right: 0px; }

  #slick .slideshow-text {
    width: 90vw;
    letter-spacing: 10px; }

  .slick-scroll {
    margin-bottom: 90px; } }

/*# sourceMappingURL=style.css.map */
