@import "../../../../assets/sass/general";

////////////////////////////////////
/////// PRESENTATION LOGOTYPE /////
//////////////////////////////////
.presentation-logotype {
	height: 100vh;
	.content-logotype {
		height: 100vh;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 20;
		flex-direction: column;
		text-align: center;
		h3 {
			font-size: 3em;
		}
		img {
			max-height: 40vh;
			width: auto;
		}
		.max-size {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	.checked-video {
		height: 100%;
		width: 100%;
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		video {
			width: 100%;
		}
	}
}