@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.presentation-logotype {
  height: 100vh; }
  .presentation-logotype .content-logotype {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    flex-direction: column;
    text-align: center; }
    .presentation-logotype .content-logotype h3 {
      font-size: 3em; }
    .presentation-logotype .content-logotype img {
      max-height: 40vh;
      width: auto; }
    .presentation-logotype .content-logotype .max-size {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  .presentation-logotype .checked-video {
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0; }
    .presentation-logotype .checked-video video {
      width: 100%; }

/*# sourceMappingURL=style.css.map */
