@import "../../../../../assets/sass/general";

//button open navi
.open-navigation {
	#hamburger-2.is-active .line:nth-child(1){
		-webkit-transform: translateY(13px);
		transform: translateY(13px);
	}

	#hamburger-2.is-active .line:nth-child(3){
		-webkit-transform: translateY(-13px);
		transform: translateY(-13px);
	}
}
