.list-section .title-container {
  text-align: center; }
  .list-section .title-container h3 {
    font-size: 3em;
    font-weight: 600; }
  .list-section .title-container p {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    letter-spacing: 2px; }
.list-section .title-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end; }
  .list-section .title-wrapper .title {
    font-size: 2em;
    font-weight: 600;
    margin-left: 10px; }
  .list-section .title-wrapper .image img {
    max-width: 50px;
    height: auto; }
.list-section ul {
  padding: 0px;
  list-style-type: none;
  margin-top: 30px; }
  .list-section ul li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #ddd; }

/*# sourceMappingURL=style.css.map */
