/*
Theme Name: hypernova
Version: 1.00
*/
@import "theme-style.css";

/* STYLE NA POTRZEBY MOTYWU */
.oferta-1, .service-2 {
	padding:80px 0px;
}
.oferta-1 .thumbnail img {
	max-width: 25%;
}
.oferta-1 .offer-wrapper {
	margin-bottom: 60px;
}
.oferta-1 .offer-wrapper a {
	border:solid 1px #fff;
	padding: 5px 10px;
}
.oferta-1 .offer-wrapper a:hover {
	background-color: #fff;
	color:#333 !important;
}

