@import url('https://fonts.googleapis.com/css?family=Kameron:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&display=swap&subset=latin-ext');
$ffont: 'Kameron', serif;
$sfont:'Titillium Web', sans-serif;
* {
	font-family: $sfont;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $ffont;
}

#header-4 {
	ul.nav li.dropdown:hover > ul.dropdown-menu {
		display: block;    
	}
	* {
		font-family: $ffont;
	}
	a.dropdown-item.active {
		background-color: #fff !important;
		color: #171717 !important;
	}
	.navi-container-4 {
		ul#menu-main-menu {
			li {
				border-left: none;
				a {
					font-size: 1em !important;
					text-align: center;
				}
			}
		}
	}
	img.img-fluid {
		max-height: 15vh;
		width: auto;
		filter: drop-shadow(0px 0px 5px rgba(0,0,0,.25));
	} 
	.affix.affix-container {
		background: rgba(0,0,0,.45) !important; 
	}
} 