@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.open-navigation #hamburger-8.is-active .line:nth-child(2) {
  opacity: 0; }
.open-navigation #hamburger-8.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  transform: translateY(13px); }
.open-navigation #hamburger-8.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg); }

/*# sourceMappingURL=style.css.map */
