@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
#header-2 {
  position: absolute;
  z-index: 100;
  right: 20px; }
  #header-2 .dropdown-menu {
    background: rgba(0, 0, 0, 0.5); }
  #header-2 nav {
    position: fixed;
    z-index: 2;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    margin-left: -60vh;
    box-shadow: 5px 0px 10px #000;
    transition-duration: .5s;
    overflow-y: scroll; }
  #header-2 nav.active {
    margin-left: 0vh; }
  #header-2 .logotype {
    width: 80%;
    margin: auto;
    display: block;
    max-width: 300px;
    height: auto; }
  #header-2 .open-navigation {
    display: flex;
    justify-content: flex-end; }
  #header-2 .container-w-logo {
    position: relative; }
    #header-2 .container-w-logo .img-white {
      position: absolute;
      height: 105%;
      width: 80%;
      background: white;
      top: 0;
      left: 0px;
      margin-left: 10%;
      background-repeat: no-repeat; }
  #header-2 .w-logotype {
    margin-bottom: 40px;
    margin-top: 40px; }
  #header-2 ul#menu-main-menu {
    text-align: center; }
    #header-2 ul#menu-main-menu li:hover a:after {
      transform: rotate(90deg);
      transition-duration: .5s; }
    #header-2 ul#menu-main-menu li a {
      color: #fff;
      font-size: 1.5em; }
      #header-2 ul#menu-main-menu li a:after {
        content: url("/wp-content/themes/kordit/assets/img/arow.svg");
        border: none !important;
        width: 20px;
        height: 20px; }
  @media (max-width: 576px) {
    #header-2 nav.slide-menu {
      flex-direction: column; } }
  @media (max-width: 768px) {
    #header-2 nav.slide-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -80vw; }
    #header-2 nav.slide-menu.active {
      width: 70vw;
      margin-left: 0vw; } }

/*# sourceMappingURL=style.css.map */
