@import "../../../../../assets/sass/general";

////////////////////////////
///////    SLIDER     /////
//////////////////////////
.theme-section-slider {
	background: #000;
	height: 90vh;
	margin-bottom: 0px !important;
	@media (min-width: 576px) and (max-width: 750px) { 
		height: 140vh;
	} 

	.carousel-item {
		background: #000;
		& > img {
			height: 90vh;
			opacity: .7;
			object-fit: cover;
			@media (min-width: 576px) and (max-width: 750px) { 
				height: 140vh;
			} 
		} 
	}
	.gradient-slider {
		width: 100%;
		height: 100px;
		background: linear-gradient(0deg, #171717, transparent);
		display: block;
		position: absolute;
		bottom: 0px;
		z-index: 5;
	}
	.categories-container {
		a {
			margin-right: 10px;
		}
	}
	
	.carousel {
		position: absolute;
		height: 90vh;  
		display: flex;
		justify-content: center;
		margin: auto; 
		@media (min-width: 576px) and (max-width: 750px) { 
			height: 140vh;
		} 
	}
	.carousel-control-next, .carousel-control-prev {
		width: 10% !important;
	}
	.carousel-opis {
		position: absolute;
		top: 15%;
		left: 10%;
		width: 80%;
		height: 80%;
		display: flex !important;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: #fff;
		& > .row {
			width: 100%;
		}
		@media (max-width: 767px) { 
			top: 10%;
			height: 90%;
		}
		h3 {
			font-weight: 700;
			font-size: 3.5em;
			@media (max-width: 950px) { 
				font-size: 2em;
			}
		}
		@media (max-width: 950px) { 
			.rozdzielczosc {
				flex: 0 0 100%; 
			}
		}
		.categories-container {
			margin-top: 15px;
			border-top: solid 1px #fff;
			padding-top: 10px;
			@media (max-width: 950px) { 
				display: none;
			}
			@media (max-width: 576px) { 
				display: block;
			}
			b {
				text-transform: uppercase;
				font-weight: 500;
			}
			a {
				opacity: .5;
				transition-duration: .5s;
				&:hover {
					opacity: 1;
				}
			}
		}  
		.container-href {
			margin-top: 10px;
			display: flex;
			a {
				padding: 5px 15px;
				border:solid 1px #fff;
				text-transform: uppercase;
				animation-duration: .5s;
				&:hover {
					background: #fff;
					color: #333;
				}
			}
		}
		.single-tag {
			a {
				opacity: .5;
				transition-duration: .5s;
				&:hover {
					opacity: 1;
				}
			}
			@media (max-width: 950px) { 
				display: none;
			}
			@media (max-width: 576px) { 
				display: block;
			}
		}
		data { 
			color: #333;
			font-size: 1.15em;
			font-weight: 600;
			-webkit-text-fill-color: rgba(0,0,0,1);
			-webkit-text-stroke-color: #fff;
			-webkit-text-stroke-width: 1.00px;
			text-shadow: 0px 0px 15px #000;
			@media (max-width: 950px) { 
				display: none;
			}
			@media (max-width: 576px) { 
				display: block;
			}
		}
		a {
			color: #fff;
		}
	}
	#postslider {
		& > .container {
			position: absolute;
			height: 100%;
			display: flex;
			justify-content: flex-end; 
			.position-ver {
				display: flex;
				align-items: center;
				width: 30%;
				flex-wrap: wrap;
				height: 70%;
				top: 25%;
				position: absolute;
				@media (max-width: 950px) { 
					width: 100%;
					height: 20%;
					top: 75%;
					position: absolute;
					left: 0;
					z-index: 2;
					@media (max-width: 576px) { 
						top: 80%;
					}
				}
				h4 {
					color: #fff;
					z-index: 10;
					text-align: center;
					width: 100%;
					@media (max-width: 950px) { 
						font-size: 1.25em;
					}

					@media (max-width: 576px) { 
						font-size: 1.5em;
						margin-bottom: -25px;
					}
				}
				.carousel-indicators {
					flex-direction: column;
					width: 100%;
					margin: 0px;
					justify-content: flex-end;
					position: relative;
					@media (max-width: 950px) {  
						flex-direction: inherit;
						justify-content: space-evenly;
					}

					li {
						position: relative;
						text-indent: 0px;
						width: 100%;
						height: auto;
						padding: 0px !important;
						border: none;
						box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
						margin: 10px 0px;
						transition-duration: 1s; 
						@media (max-width: 950px) {  
						}

						@media (max-width: 950px) { 
							width: 30%;
						}
						&:hover {
							box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
							transition-duration: 5s;
							animation-duration: 5s;
						}
						&.active {
							img {
								opacity: 1 !important;
							}
						}
						h5 {
							position: absolute;
							text-shadow: 0px 0px 4px rgba(0,0,0,.95);
							color: #fff;
							width: 100%;
							text-align: center;
							left: 50%;
							top: 50%;
							transform: translate(-50%,-50%);
							@media (max-width: 950px) { 
								font-size: 1em;
								padding: 10px;
							}
						}
						img {
							max-height: 125px;
							width: 100%;
							object-fit: cover;
						}

					}
				}
			}
		}
	}
}
.all-content {
	background: #171717;
	padding:80px 0px;
	.all-section-wrapper {
		height: 100%;
		width: 100%;
		
	}
	.all-section {
		width: 100%;
	}
}
.latest-post {
	margin-bottom: 30px;
	padding-bottom: 20px;
	background: #fff;
	a.button-special {
		width: 35%;
		background: #a1173a;
		margin: auto;
		display: block;
		text-align: center;
		padding: 10px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 30px;
		border-radius: 50px;
	}
	@media (max-width: 950px) { 
		.inner-content {
			margin-top: 10px;
		}
	}
	h2 {
		padding: 15px;
		font-weight: 800;
		padding-bottom: 0px;
	}
	.inner-post-list {
		background: #fff;
		padding: 15px;
		margin-bottom: 20px;
		border-bottom: solid 1px #ddd;
		padding-bottom: 30px;
		.categories {
			display: flex;
			flex-wrap: wrap;
			a {
				border: none;
				background: linear-gradient(0deg, #b12044, #981435);
				color: #fff;
				padding: 5px 15px;
				border-radius: 20px;
				font-size: 10px;
				margin-right: 10px;
				white-space: nowrap;
				margin-bottom: 5px;
			}
		}
		.thumbnail {
			height: 100%;

			img {
				height: 100%;
				object-fit: cover;
			}

		}
		.data {
			background: linear-gradient(0deg, #b12044, #981435);
			width: 100%;
			display: flex;
			padding: 5px ;
			text-align: center;
			color: #fff;
			font-weight: 600;
			font-size:.8em; 
			border-radius: 15px;
			display: flex;
			flex-direction: column;

		}
		h3 {
			margin: 5px 0px;
			font-weight: 700;
		} 
		.excerpt {
			font-size: .8em;
			color: #9c9b9b;
			width: 85%;
			margin-bottom: 10px;
			p {
				margin-bottom: 0px;
			}
		}
		.link {
			letter-spacing: 2px;
			a {
				font-size: .8em;
			}
		}
	}
	h2 {
		padding: 15px;
		font-weight: 800;
		background: #9d1638;
		color: #fff;
	} 
}