@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.theme-section-slider {
  background: #000;
  height: 90vh;
  margin-bottom: 0px !important; }
  @media (min-width: 576px) and (max-width: 750px) {
    .theme-section-slider {
      height: 140vh; } }
  .theme-section-slider .carousel-item {
    background: #000; }
    .theme-section-slider .carousel-item > img {
      height: 90vh;
      opacity: .7;
      object-fit: cover; }
      @media (min-width: 576px) and (max-width: 750px) {
        .theme-section-slider .carousel-item > img {
          height: 140vh; } }
  .theme-section-slider .gradient-slider {
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, #171717, transparent);
    display: block;
    position: absolute;
    bottom: 0px;
    z-index: 5; }
  .theme-section-slider .categories-container a {
    margin-right: 10px; }
  .theme-section-slider .carousel {
    position: absolute;
    height: 90vh;
    display: flex;
    justify-content: center;
    margin: auto; }
    @media (min-width: 576px) and (max-width: 750px) {
      .theme-section-slider .carousel {
        height: 140vh; } }
  .theme-section-slider .carousel-control-next, .theme-section-slider .carousel-control-prev {
    width: 10% !important; }
  .theme-section-slider .carousel-opis {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff; }
    .theme-section-slider .carousel-opis > .row {
      width: 100%; }
    @media (max-width: 767px) {
      .theme-section-slider .carousel-opis {
        top: 10%;
        height: 90%; } }
    .theme-section-slider .carousel-opis h3 {
      font-weight: 700;
      font-size: 3.5em; }
      @media (max-width: 950px) {
        .theme-section-slider .carousel-opis h3 {
          font-size: 2em; } }
    @media (max-width: 950px) {
      .theme-section-slider .carousel-opis .rozdzielczosc {
        flex: 0 0 100%; } }
    .theme-section-slider .carousel-opis .categories-container {
      margin-top: 15px;
      border-top: solid 1px #fff;
      padding-top: 10px; }
      @media (max-width: 950px) {
        .theme-section-slider .carousel-opis .categories-container {
          display: none; } }
      @media (max-width: 576px) {
        .theme-section-slider .carousel-opis .categories-container {
          display: block; } }
      .theme-section-slider .carousel-opis .categories-container b {
        text-transform: uppercase;
        font-weight: 500; }
      .theme-section-slider .carousel-opis .categories-container a {
        opacity: .5;
        transition-duration: .5s; }
        .theme-section-slider .carousel-opis .categories-container a:hover {
          opacity: 1; }
    .theme-section-slider .carousel-opis .container-href {
      margin-top: 10px;
      display: flex; }
      .theme-section-slider .carousel-opis .container-href a {
        padding: 5px 15px;
        border: solid 1px #fff;
        text-transform: uppercase;
        animation-duration: .5s; }
        .theme-section-slider .carousel-opis .container-href a:hover {
          background: #fff;
          color: #333; }
    .theme-section-slider .carousel-opis .single-tag a {
      opacity: .5;
      transition-duration: .5s; }
      .theme-section-slider .carousel-opis .single-tag a:hover {
        opacity: 1; }
    @media (max-width: 950px) {
      .theme-section-slider .carousel-opis .single-tag {
        display: none; } }
    @media (max-width: 576px) {
      .theme-section-slider .carousel-opis .single-tag {
        display: block; } }
    .theme-section-slider .carousel-opis data {
      color: #333;
      font-size: 1.15em;
      font-weight: 600;
      -webkit-text-fill-color: black;
      -webkit-text-stroke-color: #fff;
      -webkit-text-stroke-width: 1.00px;
      text-shadow: 0px 0px 15px #000; }
      @media (max-width: 950px) {
        .theme-section-slider .carousel-opis data {
          display: none; } }
      @media (max-width: 576px) {
        .theme-section-slider .carousel-opis data {
          display: block; } }
    .theme-section-slider .carousel-opis a {
      color: #fff; }
  .theme-section-slider #postslider > .container {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: flex-end; }
    .theme-section-slider #postslider > .container .position-ver {
      display: flex;
      align-items: center;
      width: 30%;
      flex-wrap: wrap;
      height: 70%;
      top: 25%;
      position: absolute; }
      @media (max-width: 950px) {
        .theme-section-slider #postslider > .container .position-ver {
          width: 100%;
          height: 20%;
          top: 75%;
          position: absolute;
          left: 0;
          z-index: 2; } }
  @media (max-width: 950px) and (max-width: 576px) {
    .theme-section-slider #postslider > .container .position-ver {
      top: 80%; } }

      .theme-section-slider #postslider > .container .position-ver h4 {
        color: #fff;
        z-index: 10;
        text-align: center;
        width: 100%; }
        @media (max-width: 950px) {
          .theme-section-slider #postslider > .container .position-ver h4 {
            font-size: 1.25em; } }
        @media (max-width: 576px) {
          .theme-section-slider #postslider > .container .position-ver h4 {
            font-size: 1.5em;
            margin-bottom: -25px; } }
      .theme-section-slider #postslider > .container .position-ver .carousel-indicators {
        flex-direction: column;
        width: 100%;
        margin: 0px;
        justify-content: flex-end;
        position: relative; }
        @media (max-width: 950px) {
          .theme-section-slider #postslider > .container .position-ver .carousel-indicators {
            flex-direction: inherit;
            justify-content: space-evenly; } }
        .theme-section-slider #postslider > .container .position-ver .carousel-indicators li {
          position: relative;
          text-indent: 0px;
          width: 100%;
          height: auto;
          padding: 0px !important;
          border: none;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          margin: 10px 0px;
          transition-duration: 1s; }
          @media (max-width: 950px) {
            .theme-section-slider #postslider > .container .position-ver .carousel-indicators li {
              width: 30%; } }
          .theme-section-slider #postslider > .container .position-ver .carousel-indicators li:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
            transition-duration: 5s;
            animation-duration: 5s; }
          .theme-section-slider #postslider > .container .position-ver .carousel-indicators li.active img {
            opacity: 1 !important; }
          .theme-section-slider #postslider > .container .position-ver .carousel-indicators li h5 {
            position: absolute;
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.95);
            color: #fff;
            width: 100%;
            text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); }
            @media (max-width: 950px) {
              .theme-section-slider #postslider > .container .position-ver .carousel-indicators li h5 {
                font-size: 1em;
                padding: 10px; } }
          .theme-section-slider #postslider > .container .position-ver .carousel-indicators li img {
            max-height: 125px;
            width: 100%;
            object-fit: cover; }

.all-content {
  background: #171717;
  padding: 80px 0px; }
  .all-content .all-section-wrapper {
    height: 100%;
    width: 100%; }
  .all-content .all-section {
    width: 100%; }

.latest-post {
  margin-bottom: 30px;
  padding-bottom: 20px;
  background: #fff; }
  .latest-post a.button-special {
    width: 35%;
    background: #a1173a;
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30px;
    border-radius: 50px; }
  @media (max-width: 950px) {
    .latest-post .inner-content {
      margin-top: 10px; } }
  .latest-post h2 {
    padding: 15px;
    font-weight: 800;
    padding-bottom: 0px; }
  .latest-post .inner-post-list {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ddd;
    padding-bottom: 30px; }
    .latest-post .inner-post-list .categories {
      display: flex;
      flex-wrap: wrap; }
      .latest-post .inner-post-list .categories a {
        border: none;
        background: linear-gradient(0deg, #b12044, #981435);
        color: #fff;
        padding: 5px 15px;
        border-radius: 20px;
        font-size: 10px;
        margin-right: 10px;
        white-space: nowrap;
        margin-bottom: 5px; }
    .latest-post .inner-post-list .thumbnail {
      height: 100%; }
      .latest-post .inner-post-list .thumbnail img {
        height: 100%;
        object-fit: cover; }
    .latest-post .inner-post-list .data {
      background: linear-gradient(0deg, #b12044, #981435);
      width: 100%;
      display: flex;
      padding: 5px;
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-size: .8em;
      border-radius: 15px;
      display: flex;
      flex-direction: column; }
    .latest-post .inner-post-list h3 {
      margin: 5px 0px;
      font-weight: 700; }
    .latest-post .inner-post-list .excerpt {
      font-size: .8em;
      color: #9c9b9b;
      width: 85%;
      margin-bottom: 10px; }
      .latest-post .inner-post-list .excerpt p {
        margin-bottom: 0px; }
    .latest-post .inner-post-list .link {
      letter-spacing: 2px; }
      .latest-post .inner-post-list .link a {
        font-size: .8em; }
  .latest-post h2 {
    padding: 15px;
    font-weight: 800;
    background: #9d1638;
    color: #fff; }

/*# sourceMappingURL=style.css.map */
