html {
	background-color: #000;
}
body {
	background-image: url(/wp-content/uploads/2019/09/616.jpg);
	color: #fff; 
	background-attachment: fixed;
	background-size: cover;
}
h1, h2, h3, h4, h5, h6, p, button, input {
	color: #fff;
}
a {
	color: #fff;
}
#about-us {
	padding: 60px 0px;
}  
.title-container {
	text-align: center;
	h3 {
		font-size: 3em; 
		font-weight: 600;
	}
	p {
		width: 80%;
		margin: auto;
		margin-bottom: 40px;
		letter-spacing: 2px;
	}
}
.service-3 {
	border-bottom: solid 1px #fff;
	.gradient-top {
		position: absolute;
		width: 100%;
		height: 50%;
		background: linear-gradient(black, transparent);
		top: -30px;
	}
	.black-box {
		width: 100%;
		background: #000;
		height: 20px;
		position: absolute;
		top: -40px;
	}
	.content.service-3-box {
		max-width: 90%;
		font-size: .9em;
	}
	
} 
.service {
	img {
		width: auto;
		height: 120px;
		margin-bottom: 30px;
	}
	.inner-service {
		box-shadow: 0px 0px 25px #000;
		border: solid 1px #181717 !important;
		background: rgba(0,0,0,.2);
		transition-duration: .5s;
		height: 270px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&:hover {
			border: solid 1px #000 !important;
			background: rgba(0,0,0,.5);
		}
	}
}  
section#blog-page {
	.inner-post-list {
		background-color: transparent;
		position: relative;
		overflow-x: hidden;
		.inner-content {
			margin-bottom: 0px !important;
			padding-bottom: 0px !important;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			&:hover {
				.link {
					left: 10px;
				}
			}
		}
	}	
	.link {
		position: absolute;
		bottom: 10px;
		left: -100%;
		transition-duration: .5s;
		a {
			color: #fff;
			text-shadow: 0px 0px 5px #000;
		}
	} 
	.title-section {
		text-align: center;
		h2 {
			font-size: 40px;
			font-weight: 700;
		}
	}
}
.kontakt-1 {
	.inner-opis {
		.phone, .mail, .home {
			a, .text {
				color: #fff;
			}	
		}
	}
	svg {
		path {
			fill:#fff !important;
		}
	}
	textarea {
		height: 100px;
	}
	input, textarea {
		border:none;
		border-bottom: solid 1px #fff;  
	}
	select.wpcf7-form-control.wpcf7-select {
		width: 100%;
		background: transparent;
		color: #fff;
		height: 30px;
		border: solid 1px #fff;
	}
	small {
		margin-bottom: -10px;
		display: block;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 9px;
	}
}
#footer-1 {
	background-color: rgba(0,0,0,.75) !important;
	border-top: solid 1px #000;
	a {
		&:after {
			display: none !important;
		}
	}
}
