html {
  background-color: #000; }

body {
  background-image: url(/wp-content/uploads/2019/09/616.jpg);
  color: #fff;
  background-attachment: fixed;
  background-size: cover; }

h1, h2, h3, h4, h5, h6, p, button, input {
  color: #fff; }

a {
  color: #fff; }

#about-us {
  padding: 60px 0px; }

.title-container {
  text-align: center; }
  .title-container h3 {
    font-size: 3em;
    font-weight: 600; }
  .title-container p {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    letter-spacing: 2px; }

.service-3 {
  border-bottom: solid 1px #fff; }
  .service-3 .gradient-top {
    position: absolute;
    width: 100%;
    height: 50%;
    background: linear-gradient(black, transparent);
    top: -30px; }
  .service-3 .black-box {
    width: 100%;
    background: #000;
    height: 20px;
    position: absolute;
    top: -40px; }
  .service-3 .content.service-3-box {
    max-width: 90%;
    font-size: .9em; }

.service img {
  width: auto;
  height: 120px;
  margin-bottom: 30px; }
.service .inner-service {
  box-shadow: 0px 0px 25px #000;
  border: solid 1px #181717 !important;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: .5s;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .service .inner-service:hover {
    border: solid 1px #000 !important;
    background: rgba(0, 0, 0, 0.5); }

section#blog-page .inner-post-list {
  background-color: transparent;
  position: relative;
  overflow-x: hidden; }
  section#blog-page .inner-post-list .inner-content {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    section#blog-page .inner-post-list .inner-content:hover .link {
      left: 10px; }
section#blog-page .link {
  position: absolute;
  bottom: 10px;
  left: -100%;
  transition-duration: .5s; }
  section#blog-page .link a {
    color: #fff;
    text-shadow: 0px 0px 5px #000; }
section#blog-page .title-section {
  text-align: center; }
  section#blog-page .title-section h2 {
    font-size: 40px;
    font-weight: 700; }

.kontakt-1 .inner-opis .phone a, .kontakt-1 .inner-opis .phone .text, .kontakt-1 .inner-opis .mail a, .kontakt-1 .inner-opis .mail .text, .kontakt-1 .inner-opis .home a, .kontakt-1 .inner-opis .home .text {
  color: #fff; }
.kontakt-1 svg path {
  fill: #fff !important; }
.kontakt-1 textarea {
  height: 100px; }
.kontakt-1 input, .kontakt-1 textarea {
  border: none;
  border-bottom: solid 1px #fff; }
.kontakt-1 select.wpcf7-form-control.wpcf7-select {
  width: 100%;
  background: transparent;
  color: #fff;
  height: 30px;
  border: solid 1px #fff; }
.kontakt-1 small {
  margin-bottom: -10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 9px; }

#footer-1 {
  background-color: rgba(0, 0, 0, 0.75) !important;
  border-top: solid 1px #000; }
  #footer-1 a:after {
    display: none !important; }

/*# sourceMappingURL=style-sass.css.map */
