@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
#footer-1 {
  padding-top: 40px;
  background-image: url(/wp-content/uploads/2019/12/footer.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom; }
  #footer-1 .gradient-footer {
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, transparent, #171717);
    margin-top: -40px; }
  #footer-1 h5 {
    color: #fff;
    margin-bottom: 20px; }
  #footer-1 .navbar-brand img {
    filter: brightness(10000%);
    margin-bottom: 20px; }
  #footer-1 p {
    color: #fff; }
  #footer-1 .menu-footer-menu-container .menu {
    list-style-type: none;
    padding: 0px; }
    #footer-1 .menu-footer-menu-container .menu li {
      margin-bottom: 10px; }
      #footer-1 .menu-footer-menu-container .menu li a {
        padding: 0px;
        color: #fff; }
  #footer-1 .footer-contact img {
    max-width: 25px; }
  #footer-1 .footer-contact {
    list-style-type: none;
    padding: 0px; }
    #footer-1 .footer-contact p {
      margin-bottom: 0px; }
    #footer-1 .footer-contact li {
      display: flex;
      color: #fff;
      align-items: end;
      margin-bottom: 15px; }
      #footer-1 .footer-contact li img {
        margin-right: 10px; }
      #footer-1 .footer-contact li a {
        color: #fff; }
  #footer-1 .menu-footer-menu-container {
    max-height: 390px;
    overflow: hidden; }
    #footer-1 .menu-footer-menu-container .fb-page.fb_iframe_widget {
      margin-top: -20px; }
  #footer-1 .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px; }
    #footer-1 .footer-copyright img {
      max-width: 80px;
      margin-left: 10px; }
    #footer-1 .footer-copyright p {
      margin-bottom: 0px; }

/*# sourceMappingURL=style.css.map */
