@import "../../../../../assets/sass/general";

//button open navi
.open-navigation {
	#hamburger-7.is-active .line:nth-child(1){
		width: 30px;
	}

	#hamburger-7.is-active .line:nth-child(2){
		width: 40px;
	}

	#hamburger-7.is-active .line{
		-webkit-transform: rotate(30deg);
		transform: rotate(30deg);
	}
}
