@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.open-navigation #hamburger-7.is-active .line:nth-child(1) {
  width: 30px; }
.open-navigation #hamburger-7.is-active .line:nth-child(2) {
  width: 40px; }
.open-navigation #hamburger-7.is-active .line {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); }

/*# sourceMappingURL=style.css.map */
