@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
#header-4 {
  position: absolute;
  z-index: 13;
  width: 100%;
  transition-duration: .5s; }
  #header-4 .affix-container {
    position: absolute;
    top: 40px;
    width: 80%;
    margin-left: 10%;
    display: block;
    transition-duration: .5s; }
    @media (max-width: 576px) {
      #header-4 .affix-container {
        width: 100%;
        margin-left: 0px; } }
  #header-4 img.img-fluid {
    max-height: 15vh;
    width: auto; }
  #header-4 .affix.affix-container {
    position: fixed;
    box-shadow: 0px 5px 10px #000;
    background: #3c3c3c;
    top: 0px; }
  #header-4 .top-header {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #000; }
    #header-4 .top-header .container {
      height: 100%; }
    #header-4 .top-header img {
      height: 20px;
      width: auto;
      margin-right: 5px; }
    #header-4 .top-header a {
      color: #fff;
      letter-spacing: 2px; }
    #header-4 .top-header .header-contact {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      padding: 0px;
      height: 100%;
      margin: 0px;
      align-items: center; }
  #header-4 .navbar-brand {
    position: relative;
    width: 100%;
    height: 100px; }
    #header-4 .navbar-brand .brand-logo {
      position: absolute;
      top: 0;
      z-index: 10; }
  #header-4 .mobile-menu {
    display: none; }
  #header-4 .navi-container-4 {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    #header-4 .navi-container-4 #menu-main-menu {
      display: flex;
      flex-direction: inherit;
      justify-content: space-around;
      width: 100%;
      height: 30%; }
      #header-4 .navi-container-4 #menu-main-menu li {
        padding: 0px 15px;
        border-left: solid 1px #fff;
        line-height: inherit;
        padding-bottom: 40px;
        display: grid; }
        #header-4 .navi-container-4 #menu-main-menu li.current-menu-item {
          border: solid 3px #fff; }
        #header-4 .navi-container-4 #menu-main-menu li.active a {
          font-weight: 900; }
        #header-4 .navi-container-4 #menu-main-menu li:hover {
          background-color: #fff; }
          #header-4 .navi-container-4 #menu-main-menu li:hover a {
            color: #3c3c3c; }
        #header-4 .navi-container-4 #menu-main-menu li a {
          color: #fff;
          font-size: 1.15em; }
  #header-4 #menu-main-menu {
    display: flex;
    flex-direction: initial;
    justify-content: space-between; }
  #header-4 a.dropdown-item.active {
    background-color: #fff;
    color: #171717; }
  @media (max-width: 950px) {
    #header-4 .mobile-none {
      display: none; }
    #header-4 .mobile-menu {
      display: block; }
    #header-4 nav.mobile-menu.slide-menu {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.8);
      height: 100vh;
      top: 0px;
      width: 50vw;
      margin-left: -50vw;
      transition-duration: .5s;
      box-shadow: 5px 0px 10px #000; }
      #header-4 nav.mobile-menu.slide-menu.active {
        margin-left: 0vw; }
      #header-4 nav.mobile-menu.slide-menu .menu-main-menu-container {
        height: 100%;
        display: flex;
        margin-left: 30px;
        align-items: center; }
        #header-4 nav.mobile-menu.slide-menu .menu-main-menu-container li a {
          color: #fff; } }
  #header-4 .dropdown-menu {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    transition-duration: .5s;
    padding: 0px; }
    #header-4 .dropdown-menu a {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.5);
      animation-duration: .5s; }
      #header-4 .dropdown-menu a:hover {
        background-color: white;
        animation-duration: .5s; }

/*# sourceMappingURL=style.css.map */
