@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
.open-navigation #hamburger-12.is-active .line:nth-child(1) {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }
.open-navigation #hamburger-12.is-active .line:nth-child(3) {
  opacity: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

/*# sourceMappingURL=style.css.map */
