.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

.circle {
  background: #000;
  height: 90vh;
  overflow: hidden;
  cursor: none;
  
  @media (pointer:coarse) {
    cursor: default;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: inherit;
    z-index: 1;
  }
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    .down & {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);

      .item {
        .tit {
          opacity: 0;
        }
      }
    }

    * {
      outline: none;
    }

    .item {
      position: relative;
      z-index: 1;
      width: 100vw;
      height: 90vh;

      image {
        opacity: .7;
      }

      .tit {
        text-align: center;
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 0;
        width: 100%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        h3 {
          letter-spacing: 2rem;
          color: #fff;
          font-size: 7vw;
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          text-shadow: 0px 0px 20px rgba(0,0,0,.5);
        }
        .pos-button {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 20px;
          a {
            padding: 10px 20px;
            border: solid 1px #fff;
            color: #fff;
            -webkit-transition: all .3s ease-in-out;
            text-transform: uppercase;
            transition: all .3s ease-in-out;
            letter-spacing: 3px;
            font-size: .7em;
            transition-duration: .5s;
            &:hover {
              background: #fff;
              color: #333;
            }
          }
        }
      }
    } 
  }

  #slider-1 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    .tit {
      display: none;
    }
  }


  #slider-2 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    -webkit-transform: scale(1)!important;
    transform: scale(1)!important;
    pointer-events: none;
  }

  .cursor {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .05);
    -webkit-transition: background ease-in-out .2s, -webkit-transform ease-in-out .2s;
    transition: background ease-in-out .2s, -webkit-transform ease-in-out .2s;
    transition: transform ease-in-out .2s, background ease-in-out .2s;
    transition: transform ease-in-out .2s, background ease-in-out .2s, -webkit-transform ease-in-out .2s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 100;
    left: -9999px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      border-left: 6px solid rgba(255, 255, 255, .5);
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      top: 10px;
      left: 52px;
      opacity: 0;
      -webkit-transition: left ease-in-out .1s, opacity ease-in-out .2s;
      transition: left ease-in-out .1s, opacity ease-in-out .2s;
    }

    &:after {
      border-left: none;
      border-right: 6px solid rgba(255, 255, 255, .5);
      left: -27px;
    }

    .down & {
      -webkit-transform: scale(0.7) translateZ(0);
      transform: scale(0.7) translateZ(0);
      background: rgba(255, 255, 255, .4);

      &:before,
      &:after {
        opacity: 1;
        left: 49px;
      }

      &:after {
        left: -24px;
      }
    }

    @media (pointer:coarse) {
      display: none;
    }
  }

  .the-most {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 50vw;
    max-width: 100px;
    padding: 10px;

    img {
      max-width: 100%;
    }
  }
}